<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <section class="main" {% if  prediction %}
        style="background-image: url('/static/{{prediction[0]}}');background-size: cover;background-repeat: no-repeat;background-position: center; height: 100vh; position: relative;"
        {% else %}
        style="background-image: url('https://images.ctfassets.net/hrltx12pl8hq/4plHDVeTkWuFMihxQnzBSb/aea2f06d675c3d710d095306e377382f/shutterstock_554314555_copy.jpg');background-size: cover;background-repeat: no-repeat;background-position: center; height: 100vh; position: relative;"
        {% endif %}>
        <nav>

            <a class="navbar-brand" href="#">Creedorian</a>

            <span class="spacing"></span>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Recent</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
            <a href="#" class="hey"><strong>Say Hi !</strong> </a>
        </nav>
        <div class="slider-item">
            <section>
                <div style="position: relative; margin-top: 0%;">
                    <h1 style="text-align: center; font-size: 35px; color:white;">CLASSIFIER</h1>
                </div>
            </section><br>
            <div style="text-align: center; position: re;">
                <img src="https://images.ctfassets.net/hrltx12pl8hq/3MbF54EhWUhsXunc5Keueb/60774fbbff86e6bf6776f1e17a8016b4/04-nature_721703848.jpg"
                    height="200px" width="200px" alt="image not available" style="border-end-start-radius: 20%;">
                <img src="https://media.istockphoto.com/photos/colored-powder-explosion-abstract-closeup-dust-on-backdrop-colorful-picture-id1072093690?k=20&m=1072093690&s=612x612&w=0&h=Ns3WeEm1VrIHhZOmhiGY_fYKvIlbJrVADLqfxyPQVPM="
                    height="200" width="200" style="border-end-end-radius: 20%;">
            </div>
            <h1 style="text-align: center; color: wheat;">UPLOAD TO PREDICT</h1>


            <div style="text-align: center;  color: wheat;">
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="imagefile"> <br><br>
                    <center> <input type="submit" class="a-btn" value="submit"></center>
                </form>
            </div>
            {% if prediction %}
            <h1 style="text-align: center; font-size: xx-large; color: wheat;">{{prediction[1]}}</h1>
            {% else %}
            <br><br><br><br><br><br><br><br><br><br><br><br><br>{% endif %}
        </div>
</body>

</html>